.App {
    text-align: center;
}
h1{
    font-size: 50px;
    margin-top: 40px;
}
button {
    font-size: 22px;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: #e38bb9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}