.App {
    text-align: center;
}
h1{
    font-size: 50px;
    margin: 15px;
}
button {
    width: 200px;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    cursor: pointer;
    color: white;
    background-color: #277727;
}

form {
    font-size: 30px;
}

input {
    font-size: 20px;
    margin: 15px;
    padding: 10px;
}

label {
    display: block;
}