.App {
    text-align: center;
}

nav {
    background-color: lightgrey;
    padding: 5px;
}

nav a {
    margin: 15px;
}

a {
    font-size: 35px;
    color: gray;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
}

.activeLink {
    color: lightyellow;
    text-decoration: none;
}

.courseLink {
    font-size: 25px;
    text-decoration: none;
}

.courseLink:hover {
    text-decoration: underline;
}